<div fxFlex="100">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="search()"
    class="form"
  >
    <mat-card fxFlex>
      <mat-card-title>Busca Dados</mat-card-title>
      <mat-card-content fxFlex>
        <div fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5">
            <div fxFlex="40" fxFlex.lt-sm="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5">
              <mat-form-field fxFlex>
                <mat-label>Campo</mat-label>
                <mat-select formControlName="searchParameter">
                  <mat-option *ngFor="let parameter of searchFieldsParamters" [value]="parameter">{{parameter.label}}</mat-option>
                </mat-select>
                <mat-error validationMessage></mat-error>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-label>Condição</mat-label>
                <mat-select formControlName="searchConditionKey" >
                  <mat-option *ngFor="let parameter of searchConditionKeys" [value]="parameter">{{SearchType[parameter]}} </mat-option>
                </mat-select>
                <mat-error validationMessage></mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="60" fxFlex.lt-sm="100" fxLayout="row" fxLayout.lt-sm="column" >
              <mat-form-field fxFlex *ngIf="!showFieldSearch">
                <mat-label>Busca</mat-label>
                <input matInput placeholder="Informe o valor da busca" title="Busca"
                       formControlName="searchValue" name="nome"  required maxlength="50"
                >
                <mat-error validationMessage ></mat-error>
              </mat-form-field>
              <mat-form-field  fxFlex  *ngIf="showFieldSearch">
                <mat-label>Lista de Valores</mat-label>
                <input type="text"
                       placeholder="Digite para filtrar"
                       aria-label="Lista de Valores."
                       matInput
                       formControlName="searchValue"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getSearchValueDescription">
                  <mat-option *ngFor="let option of searchParameterFiltered | async" [value]="option">{{option.description}}</mat-option>
                </mat-autocomplete>
                <mat-error validationMessage></mat-error>
              </mat-form-field>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions >
        <div fxFlex="20" fxFlex.lt-sm="100"
             fxLayout.lt-sm="column" fxLayout="row"
             fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="space-around stretch"
             fxLayoutGap="5"
        >
          <button mat-button mat-raised-button class="mat-primary" (click)="searchAll()">Todos</button>
          <button mat-button mat-raised-button class="mat-primary" (click)="search()" type="submit">Busca</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
