<mat-card class="button-card">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <a mat-button class="button" routerLink="/local/listar">
        <img src="assets/sharedkeys/botao-locais2-transparent.png" alt="Locais" class="button-image">
        <div>Locais</div>
      </a>
      <a mat-button class="button" routerLink="/pessoas">
        <img src="assets/sharedkeys/pessoas2-transparent.png" alt="Pessoas" class="button-image">
        <div>Pessoas</div>
      </a>
      <a mat-button class="button" routerLink="/autorizacoes">
        <img src="assets/sharedkeys/botao-permissoes-transparent.png" alt="Autorizações" class="button-image">
        <div>Autorizações</div>
      </a>
      <a mat-button class="button" routerLink="/acompanhamento-emprestimo">
        <img src="assets/sharedkeys/botao-locais3-transparent.png" alt="Acompanhamento de Empréstimo" class="button-image">
        <div>Empréstimos</div>
      </a>
    </div>
  </mat-card-content>
</mat-card>

<!--<router-outlet></router-outlet>-->
